#recent-posts > .recent-post-item >.recent-post-info > .article-title {
  color: var(--text-highlight-color);
  font-weight:bold;
  font-size: 2em;
}

#recent-posts > .recent-post-item {
  border:solid 2px #49b1f5
}

#aside-content .card-widget {
  border:solid 2px #49b1f5
}

#post {
  border:solid 2px #49b1f5
}